{% extends 'YangBoDreamBlogBundle::layout.admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    BUI.use(['bui/tree','bui/data','bui/toolbar','bui/editor'],function (Tree,Data,Toolbar,Editor) {
      var data = '';
      $.ajax({
        type: "POST",
        dataType: 'JSON',
        url: "{{ path('yang_bo_dream_blog_admin_category_tree') }}",
        data: {},
        async: false,
        success: function(msg){
          data = msg;

        }
      });
//      console.log('json');
//      console.log(data);
//      var data = [
//        {text : 'one',id : '1',children: [{text : '11',id : '11'}]},
//        {text : 'two',id : '2',expanded : true,children : [
//          {text : 'one1',id : '21',children : [{text : '211',id : '211'},{text : '212',id : '212'}]},
//          {text : 'two1',id : '22'}
//        ]},
//        {text : '3',id : '3'},
//        {text : '4',id : '4'}
//      ];

      var tree = new Tree.TreeList({
        render : '#category',
        showLine : true,
        height:300,
        nodes : data
      });
      tree.render();

      var store = tree.get('store'),
        editor = new Editor.Editor({
          field : { //设置编辑的字段
            rules : {
              required : true
            }
          },
          autoUpdate : false, //不自动更新对应DOM的文本，而使用store更新数据
          changeSourceEvent : null
        });
      editor.render();

      editor.on('accept',function(){
        var text = editor.getValue(),
          node = editor.get('curNode'),
          selectedNode = tree.getSelected();
        var parent_id = '',
            id = '',
            name = text;

        if (node == selectedNode) {
          if (selectedNode != null) {
            id = selectedNode.id;
            parent_id = selectedNode.parent_id;
          }
          //修改
          $.ajax({
            type: "POST",
            dataType: 'JSON',
            url: "{{ path('yang_bo_dream_blog_admin_category_update') }}",
            data: {
              id: id,
              parent_id: parent_id,
              name: name
            },
            //          async: false,
            success: function(msg){
              console.log(msg);
              if (msg.status === 1) {
                node.parent_id = msg.data.parent_id;
                node.id = msg.data.id;
                node.text = msg.data.name;
                store.update(node);
              }

            }
          });
        } else {
          if (selectedNode != null) {
            parent_id = selectedNode.id;
          }
          //添加
          $.ajax({
          type: "POST",
          dataType: 'JSON',
          url: "{{ path('yang_bo_dream_blog_admin_category_add') }}",
          data: {
          parent_id: parent_id,
          name: name
          },
          //          async: false,
          success: function(msg){
           if (msg.status == 1) {
             node.parent_id = msg.data.parent_id;
             node.id = msg.data.id;
             node.text = msg.data.name;
             store.update(node);
           }
          }
          });
        }

      });

      //显示编辑器
      function showEditor(node){
        var element = tree.findElement(node);
        editor.setValue(node.text);
        editor.set('curNode',node); //缓存当前编辑的记录
//        console.log(node);
        editor.set('align',{ //设置对齐
          node : $(element).find('.x-tree-icon-wraper'),
          points : ['tr','tl']
        });
        editor.show();
        editor.focus(); //获取焦点

      }
      //双击编辑
      tree.on('itemdblclick',function(ev){
        var node = ev.item;
        showEditor(node);
      });

      var bar = new Toolbar.Bar({
        render : '#tbar',
        elCls : 'button-group',
        children : [
          {

            elCls : 'button button-small',
            content : '添加',
            handler : function(){
              var selectedNode = tree.getSelected(),
                newNode = {text : '新增节点'};
//              console.log('selectedNode:');
//              console.log(selectedNode);
              newNode = store.add(newNode,selectedNode);
              tree.expandNode(selectedNode);

              showEditor(newNode);
            }
          },
          {

            elCls : 'button button-small',
            content : '删除',
            handler : function(){
              var selectedNode = tree.getSelected();
              if(selectedNode){
                var id = selectedNode.id;
                $.ajax({
                  type: "POST",
                  dataType: 'JSON',
                  url: "{{ path('yang_bo_dream_blog_admin_category_delete') }}",
                  data: {
                    id: id
                  },
//                  async: false,
                  success: function(msg){
                    if (msg.status == 1) {
                      console.log(msg);
                      store.remove(selectedNode);
                    }
                  }
                });

              }

            }
          }
        ]
      });
      bar.render();
    });
  </script>
{% endblock %}
{% block bodys %}
  <div class="container">
    <div class="row">
      <div class="span8 offset3">
        <div class="panel">
          <div class="panel-header clearfix">
            <h3 class="pull-left">双击编辑树</h3>
            <div id="tbar" class="pull-right"></div>
          </div>
          <div class="panel-body" id= "category">

          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}