{% extends 'YangBoDreamBlogBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/yangbodreamblog/css/index.css') }}"/>
{% endblock %}

{% block content %}

  {% include 'YangBoDreamBlogBundle:Public:banner.html.twig' ignore missing %}

  <div class="template">
    <div class="box">
      <h3>
        <p><span>个人博客</span>模板 Templates</p>
      </h3>
      <ul>
        <li><a href="/"  target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/01.jpg') }}"></a><span>仿新浪博客风格・梅――古典个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/02.jpg') }}"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/03.jpg') }}"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/04.jpg') }}"></a><span>女生清新个人博客网站模板</span></li>
        <li><a href="/"  target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/02.jpg') }}"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="{{ asset('bundles/yangbodreamblog/images/03.jpg') }}"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
      </ul>
    </div>
  </div>

  <article>
    <h2 class="title_tj">
      <p>文章<span>推荐</span></p>
    </h2>

    <div class="bloglist left">
      {% for article in recommend_articles if null != article %}
      <h3>{{ article.title }}</h3>
      <figure><img src="{{ asset('bundles/yangbodreamblog/images/001.png') }}"></figure>
      <ul>
        <p>{{ article.content | slice(0, 30) }}</p>
        <a title="阅读全文" href="{{ path('yang_bo_dream_blog_article_show', {'id': article.id}) }}" target="_blank" class="readmore">阅读全文>></a>
      </ul>
      <p class="dateview"><span>{{ article.createdAt|date('Y-m-d H:i') }}</span>
        <span>作者：{{ article.user.nickName }}</span>
        {#<span>个人博客：[<a href="/news/life/">程序人生</a>]</span>#}
      </p>
    {% endfor %}


    </div>

    <aside class="right">
      <div class="weather"><iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe></div>

      {#{% embed '@YangBoDreamBlog/Public/right_news_skeleton.html.twig' %}#}
      {#{% endembed %}#}
      {#{{ render(controller(#}
        {#'YangBoDreamBlogBundle:Article:rightNewsSkeleton'#}
      {#)) }}#}

      <div class="news">
        {{ render(controller(
          'YangBoDreamBlogBundle:Article:rightNewestArticlesSkeleton'))
        }}

        {{ render(controller(
          'YangBoDreamBlogBundle:Article:rightMostViewArticlesSkeleton'))
        }}

        {{ render(controller(
          'YangBoDreamBlogBundle:Article:rightLinksSkeleton'))
        }}
      </div>

      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
      <!-- Baidu Button END -->
      <a href="/" class="weixin"> </a>
    </aside>
  </article>

{% endblock %}