{% extends 'YangBoDreamBlogBundle::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/yangbodreamblog/css/style.css') }}"/>
{% endblock %}



{% block content %}
  <article class="blogs">
    <h1 class="t_nav">
      <span>“慢生活”不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span>
      <a href="/" class="n1">网站首页</a><a href="/" class="n2">慢生活</a>
    </h1>

    <div class="newblog left">

      {% for article in tag_articles %}
        {#{% for key,article in articles  if key !='t' %}#}
          <h2>{{ article.title }}</h2>
          <p class="dateview">
            {#<span>发布时间：{{ article.createdat|time_diff }}</span><span>作者：{{ article.user.nickname }}</span>#}
            <span>发布时间：{{ article.createdat|date('Y-m-d H:s') }}</span><span>作者：{{ article.user.nickname }}</span>
            <span>分类：
              [
              {% for category in article.categories %}
                <a href="/news/life/">{{ category.name }}</a>
                {% if loop.last != true %}
                  ,
                {% endif %}
              {% endfor %}
              ]
            </span>
          </p>
          <figure><img src="{{ asset('bundles/yangbodreamblog') }}/images/001.png"></figure>
          <ul class="nlist">
            <p>{{ article.content|slice(0, 80) }}</p>
            <a title="/" href="{{ path('yang_bo_dream_blog_article_show', {'id': article.id}) }}" target="_blank" class="readmore">阅读全文>></a>
          </ul>
        {#{% endfor %}#}
      {% endfor %}

      <div class="line"></div>
      <div class="blank"></div>

      <div class="page">
        <a title="Total record">
          <b>{{ last_page_number }}</b>
        </a>
        {% if page > previous_page %}
          <a href="{{ path('yang_bo_dream_blog_tag_index', {'tag': app.request.get('tag'), 'page': previous_page}) }}">{{ previous_page }}</a>
        {% endif %}
        <b>{{ page }}</b>
        {% if page < next_page %}
          <a href="{{ path('yang_bo_dream_blog_tag_index', {'tag': app.request.get('tag'), 'page': next_page}) }}">{{ next_page }}</a>
        {% endif %}

        {% if next_page+1 < last_page_number %}
          <a href="{{ path('yang_bo_dream_blog_tag_index', {'tag': app.request.get('tag'), 'page': next_page+1}) }}">&gt;</a>
        {% endif %}

        {% if last_page_number > page  %}
          <a href="{{ path('yang_bo_dream_blog_tag_index', {'tag': app.request.get('tag'), 'page': last_page_number}) }}">&gt;&gt;</a>
        {% endif %}
      </div>

    </div>
    <aside class="right">
      <div class="rnav">
        <ul>
          <li class="rnav1"><a href="/download/" target="_blank">日记</a></li>
          <li class="rnav2"><a href="/newsfree/" target="_blank">程序人生</a></li>
          <li class="rnav3"><a href="/web/" target="_blank">欣赏</a></li>
          <li class="rnav4"><a href="/newshtml5/" target="_blank">短信祝福</a></li>
        </ul>
      </div>

      {{ render(controller('YangBoDreamBlogBundle:Article:rightNewsNoLinksSkeleton')) }}
      {#<div class="news">#}
        {#{{ render(controller(#}
          {#'YangBoDreamBlogBundle:Article:rightNewestArticlesSkeleton'))#}
        {#}}#}

        {#{{ render(controller(#}
          {#'YangBoDreamBlogBundle:Article:rightMostViewArticlesSkeleton'))#}
        {#}}#}
      {#</div>#}

      <div class="visitors">
        <h3><p>最近访客</p></h3>
        <ul>

        </ul>
      </div>
      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
      <!-- Baidu Button END -->
    </aside>
  </article>
{% endblock %}